div.catalog-14mvqx7-Html-Html {
    background: none;
}

.catalog-xm8mvq-Menu-Menu {
    display: none;
}

.catalog-ohyl74-Menu-Menu {
    background-image: url('../img/renault.svg');
    background-repeat: no-repeat;
    background-position: center top 70px;
}

.catalog-17u1t4g-Menu-Menu {
    margin-bottom: 2.9em;
    text-align: center;
}
