div.catalog-14mvqx7-Html-Html {
    background: none;
}

.catalog-xm8mvq-Menu-Menu {
    display: none;
}

.catalog-1mbo59e-_ColorPaletteItem-_ColorPaletteItem {
    font-size: 14px;
}

h1.catalog-ohyl74-Menu-Menu {
    background-image: url('../img/renault.svg');
    background-repeat: no-repeat;
    background-position: center top 70px;
    padding: 21px 0;
}

.catalog-17u1t4g-Menu-Menu {
    margin-bottom: 2.9em;
    text-align: center;
}

.catalog-dc5dse-AppLayout-AppLayout, .catalog-o5tzde-source-source, .catalog-15o9zei-NavigationBar-NavigationBar {
    font-size: 14px;
}

div.catalog-4g86b3-Page-Page {
    max-width: 75%;
}

.catalog-17xphrn-HighlightedCode-HighlightedCode {
    font-size: 12px;
}

.catalog-7qbo-Link-Link {
    font-size: 14px;
}

.modal {
    display: block;
    position: relative;
}

@media screen and (max-width: 1300px) {
    div.catalog-4g86b3-Page-Page {
        max-width: 100%;
    }
}