.modal-dialog {
  .modal-options-container {
    width: 300px;
  }
  .modal-content {
    position: relative;
    display: table;
    width: 500px;
    @include ease(width);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.25);
    padding: 0;
    border: medium none;
    min-height: 200px;
    margin: 0 auto;
    .modal-content-main {
      @include border-radius(6px);
    }
    .modal-header {
      padding: 15px 20px;
      .col-md-6 {
        padding: 0;
      }
      .modal-subtitle {
        display: block;
        font-size: 10px;
        text-transform: uppercase;
        color: $blue-grey;
        font-weight: 500;
      }
      h4 {
        display:  block;
        font-size: 16px;
        line-height: 1;
      }
      button {
        span {

        }
      }
      .modal-user {
        margin-top: 10px;
        text-align: right;
        h4 {
          font-size: 12px;
          color: $dark-grey-blue;
          margin-bottom: 0;
        }
        strong {
          font-size: 12px;
          color: $blue-grey;
          font-weight: 400;
        }
        span[class*="country-flag-"] {
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          width: 15px;
          height: 10px;
          background-size: 15px;
          background-position: center;
          position: relative;
          margin-left: 5px;
        }
      }
    }
    .modal-body {
      padding: 25px 20px;
      display: table;
      min-height: 270px;
      div[class*="col-md-"] {
        padding: 0;
      }
    }
    .modal-footer {
      font-weight: 500;
      font-size: $font-title;
      width: calc(100% - 40px);
      margin: 0 20px;
      padding: 0 2px;
      height: 70px;
      .col-md-6 {
        padding: 0;
        margin: 0;
      }
      .modal-back {}
      .modal-back-arrow {
        opacity: 0.3;
        &:hover, &:focus {
          opacity: 0.4;
        }
        a:before {
          content: '';
          background-image: url('../img/ico-arrow-left.svg');
          background-repeat: no-repeat;
          width: 12px;
          height: 10px;
          display: inline-block;
          text-align: right;
          margin-right: 8px;
        }
      }
      .modal-next {
        color: $light-blue;
        text-align: right;
        &:hover, &:focus {
          opacity: 0.75;
        }
        a:after {
          content: '';
          background-image: url('../img/ico-arrow-right-blue.svg');
          background-repeat: no-repeat;
          width: 12px;
          height: 10px;
          display: inline-block;
          text-align: right;
          margin-left: 8px;
        }
      }
    }
  }
}