/* scss/elements/_Buttons.scss */

@mixin button {
  @include border-radius(3px);
  font-family: Read;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 12px 16px;
  @include ease(background-color);
  &:hover, &:focus {
    @include ease(background-color);
  }
}

button {
  border: medium none;
}

.button-ghost-grey {
  @include button;
  color: #000000;
  &:hover, &:focus {
    background-color: $light-grey;
  }
}

.button-ghost-yellow {
  @include button;
  color: $sun-yellow;
  &:hover, &:focus {
    background-color: $sun-yellow-light;
  }
}

.button-ghost-off {
  @include button;
  cursor: not-allowed;
  color: $light-grey;
  &:hover, &:focus {
    background-color: transparent;
  }
}

.button-off {
  @include button;
  cursor: not-allowed;
  background-color: $light-grey;
  color: $grey;
  &:hover, &:focus {
    background-color: $light-grey;
  }
}

.button-grey {
  @include button;
  color: #000000;
  background-color: $grey;
  &:hover, &:focus {
    background-color: $light-grey;
  }
}

.button-yellow {
  @include button;
  color: black;
  background-color: $sun-yellow;
  &:hover, &:focus {
    background-color: lighten( $sun-yellow, 20% );
  }
}