/* scss/elements/_select.scss */


.rselect {
  @include border-radius(3px);
  outline: none;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 10px;
  line-height: 1.5;
  color: $dark-grey;
  vertical-align: middle;
  background: #fff url('../img/ico-select.svg') no-repeat right .75rem center;
  background-size: 28px 25px;
  border: 1px solid $white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: $font-size;
  margin-bottom: 25px;
  font-weight: 600;
  color: black;
  option {
    padding: 0;
    font-weight: 600;
    color: black;
    &.select-placeholder {
      font-weight: 300;
      color: $grey;
    }
  }
  &.error {
    border: 1px solid $scarlet;
    background-image: url('../img/ico-select-error.svg');
  }
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
option:not(:checked) {
  color: black; /* prevent <option>s from becoming transparent as well */
}